.clients {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  padding-top: 120px;

  .title {
    color: #fff;
  }

  .container {
    width: 100%;
    margin-top: 35px;
    background-color: var(--color-primary);

    .wrapper {
      padding: 48px 0;
      position: relative;
      width: 100%;
    }
  }
}

.marquee_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
