.outer {
  font-family: var(--font-family, sans-serif);
}

/* variants */
.primary {
  color: var(--color-primary);
  font-size: 56px;
  font-weight: 900;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.secondary {
  color: var(--color-white, #f5f5f5);
  font-size: 56px;
  font-weight: 900;

  @media (max-width: 1200px) {
    font-size: 45px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-white, #f5f5f5);
  text-align: center;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.sectionName {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-family, sans-serif);

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.default {
  color: var(--color-white, #f5f5f5);
}
