.langContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.langBtn {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-white);
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-primary);
  }

  @media (max-width: 1100px) {
    font-size: 14px;
  }
}

.active {
  color: var(--color-primary);
}
