.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  height: max-content;
  min-width: max-content;
  min-height: max-content;
  cursor: pointer;
}

.logo {
  width: 186px;
  height: 54px;
  min-width: 76px;
  min-height: 54px;
  object-fit: cover;

  @media (max-width: 1310px) {
    width: 160px;
  }

  @media (max-width: 1024px) {
    width: 178px;
  }
}
