.title {
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 36px;
  }
}

.desc {
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.btn {
  color: var(--main-bg-color) !important;
}

.card_wrapper {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  /* tablet */
  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }

  /* mobile */
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.card {
  height: max-content !important;
}
