.nav {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1310px) {
    gap: 14px !important;
  }

  @media (max-width: 1280px) {
    gap: 10px !important;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.drawer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
  text-align: center;

  @media (max-width: 1280px) {
    gap: 20px !important;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.navbar_link {
  font-size: 32px !important;
  font-weight: 700 !important;
  text-align: center !important;

  &:hover {
    color: var(--color-primary) !important;
  }

  @media (max-width: 400px) {
    font-size: 20px !important;
  }
}

.link {
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-white);
  background-color: transparent !important;

  &:focus-visible {
    padding: 0 !important;
    transition: none !important;
    box-shadow: none !important;
    border-radius: 8px !important;
    outline: revert-layer !important;
  }

  @media (max-width: 1160px) {
    font-size: 12px;
  }
}

.menu_target {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;

  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding: 0 20px 12px 20px;

  z-index: 900 !important;
  width: max-content !important;
  border-radius: 20px;

  background-color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 576px) {
    gap: 10px;
    padding: 0 12px 8px 12px;
    min-width: 100px !important;
  }

  .dropdown_item {
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    color: var(--main-gray-color);

    &:hover {
      color: var(--color-primary);
      background-color: transparent !important;
    }

    @media (max-width: 576px) {
      white-space: wrap;
      text-wrap: ellipsis;
      font-size: 12px !important;
    }
  }
}
