.lang {
  @media (max-width: 576px) {
    display: none;
  }
}

:global(.mantine-Burger-burger) {
  --burger-color: var(--color-primary);
}

.navigation {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bottom {
  padding: 16px;
  display: flex;
  justify-content: center;
}

:global {
  .mantine-Drawer-body {
    height: 100dvh;
  }
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
