.contact_btn {
  display: flex;
  text-align: center;
  align-items: center;

  height: 46px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  min-height: 32px;
  width: max-content;
  border-radius: 15px;
  color: var(--color-primary);
  transition: all linear 170ms;
  background-color: transparent;
  border: 1px solid var(--color-primary);

  &:hover {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary-60);
  }

  &:focus-visible {
    transition: none !important;
    box-shadow: none !important;
    outline: revert-layer !important;
  }

  @media (max-width: 1180px) {
    font-size: 12px !important;
  }
}
