.case {
  width: 100%;
  text-align: center;
  padding: 50px 3%;

  /* tablet */
  @media (min-width: 1400px) {
    padding: 50px 2%;
  }

  /* desktop */
  @media (min-width: 768px) {
    padding: 50px 5%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 50px;

    @media (min-width: 1024px) {
      // lg: breakpoint
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.title {
  text-align: left !important;
}
