.slick-slide {
  opacity: 0.6;
  filter: blur(3px) brightness(70%);
  transform: scale(0.8) perspective(16px);
  transition: all 200ms cubic-bezier(0.22, 0.68, 0, 1.71);
}

.slick-center {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.1);
}
