/* import font */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  hyphens: auto;
}

/* root variables */
:root {
  --grayColor: #bdbdbd;
  --yellowColor: #faaf0a;
  --dangerColor: #ff0000;
  --darkGrayColor: #424242;
  --darkColor: rgb(26, 26, 26);
  --hoverCardBg: rgb(32, 32, 32);
  --lightColor: rgb(255, 255, 255);
  --darkTextColor: rgb(20, 20, 20);
  --bodyFont: "Unbounded", sans-serif;
}

/* body */
body {
  overflow-x: hidden;
  font-family: var(--bodyFont);
  background-color: var(--darkTextColor);
}

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }
}
